.jumbotron {
  padding-top: 6rem;
  background-color: #554025;
  color: white;
}

.jumbotron img {
  border: 4px solid rgb(55, 38, 16);
  border-radius: 30% 0 30% 0;
}

.display-4 {
  font-family: "Playfair Display", serif;
}
.lead {
  font-family: "Cutive Mono", monospace;
  font-size: 25px;
}

.quotes .btn {
  width: 0;
  border: #fff;
  height: 0;
  background-color: #ffffff;
  margin-bottom: 0;
  font-size: 0;
  z-index: -9999;
}

#about h3 {
  font-size: 30px;
  padding-bottom: 5rem;
}
#about .foto img {
  width: 270px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  margin: 0.7rem auto;
  border: #352510 5px solid;
}

#project {
  background-color: #554025;
  color: white;
  text-align: center;
}

#project .card img {
  border: 5px #554025 solid;
  border-radius: 0 30% 0 30%;
}

#project .card {
  border-radius: 0 0 0 30%;
}

.btn {
  width: 60%;
  font-size: 15px;
}
.card {
  border: 3px rgb(55, 38, 16) solid;
  background-color: rgb(55, 38, 16);
  color: white;
  position: relative;
}

.card .button {
  width: 200px;
  position: relative;
  bottom: 5px;
  left: 61%;
  transform: translate(-50%, 0);
}

.card .button a:hover {
  background-color: #554025;
  color: white;
  transition: 1s;
}

.card-body::before {
  position: absolute;
  z-index: 1;
  content: "Arahkan kursor pada text ini untuk menampilkan detail";
  color: white;
  opacity: 1;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "Macondo", cursive;
  top: 70%;
  font-size: 21px;
  left: 15px;
  transition: 0.3s;
}
.card-body:hover::before {
  color: white;
  opacity: 0;
}

.card-body:target::before {
  color: white;
  opacity: 0;
}

.card .card-body p {
  position: relative;
  opacity: 0;
  transition: 1.2s;
  z-index: 2;
  padding-bottom: 20px;
}

.card .card-body p:hover {
  opacity: 1;
}

.card .card-body p:target {
  opacity: 1;
}

#contact .btn {
  width: 100%;
  background-color: #352510;
  border: #352510 1px solid;
}

#contact .btn:active {
  background-color: #fff;
  color: #352510;
  border-radius: 2px #fff solid;
}

#contact .container div {
  font-size: 15px;
}

.footer {
  background-color: #352510;
  color: white;
  padding: 5rem 0;
  font-size: 1.2rem;
}

.text-white {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.bi {
  margin: 0 5px 5px 5px;
  color: white;
}

section {
  padding-top: 8rem;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .card-body::before {
    top: 75%;
    font-size: 21px;
    left: 15px;
  }
  .card .button {
    width: 200px;
    position: relative;
    bottom: 5px;
    left: 61%;
    transform: translate(-50%, 0);
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  .navbar-brand {
    font-size: 20px;
  }

  .collapse {
    font-size: 15px;
  }
  .card-body::before {
    content: "Klik text ini untuk melihat detail";
    top: 80%;
    font-size: 15px;
    left: 25%;
  }
  .card .button {
    width: 200px;
    bottom: 5px;
    left: 57%;
  }

  .card .card-body p {
    padding-bottom: 25px;
    font-size: 16px;
  }

  .display-4 {
    font-size: 30px;
  }

  .lead {
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
  }

  h2 {
    font-size: 25px;
  }

  .jumbotron {
    margin-bottom: 1rem;
  }

  #about {
    margin-top: 2rem;
  }

  #about .foto img {
    width: 200px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    margin: 3rem auto;
    border: #352510 5px solid;
  }

  #about h3 {
    font-size: 13px;
    padding-bottom: 5rem;
  }
  .quotes .btn {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80%;
    background-color: #554025;
    border: #554025 2px solid;
    margin-bottom: 25rem;
    font-size: 20px;
    text-shadow: 1px 2px 5px rgba(1, 1, 3, 0.7);
    box-shadow: 1px 2px 5px rgba(1, 1, 3, 0.7);
  }

  .quotes .btn:active {
    background-color: #352510;
    border: #352510 2px solid;
  }

  .footer {
    background-color: #352510;
    color: white;
    padding: 5rem 0;
    font-size: 13px;
  }
}
/* Mobilephone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
