.jumbotron {
  padding-top: 6rem;
  background-color: #554025;
  color: white;
}

img {
  border: 4px solid rgb(55, 38, 16);
  border-radius: 30% 0 30% 0;
}

.display-4 {
  font-family: "Playfair Display", serif;
}
.lead {
  font-family: "Cutive Mono", monospace;
  font-size: 25px;
}

#project {
  background-color: #554025;
  color: white;
}

.card {
  border: 3px rgb(55, 38, 16) solid;
  background-color: rgb(55, 38, 16);
  color: white;
  position: relative;
}

.card .button {
  width: 200px;
  position: relative;
  bottom: 5px;
  left: 61%;
  transform: translate(-50%, 0);
}

.card .button a:hover {
  background-color: #554025;
  color: white;
  transition: 1s;
}

.card-body::before {
  position: absolute;
  z-index: 1;
  content: "Arahkan kursor pada text ini untuk menampilkan detail";
  color: white;
  opacity: 1;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: "Macondo", cursive;
  top: 70%;
  font-size: 21px;
  left: 15px;
  transition: 0.3s;
}
.card-body:hover::before {
  color: white;
  opacity: 0;
}

.card-body:target::before {
  color: white;
  opacity: 0;
}

.card .card-body p {
  position: relative;
  opacity: 0;
  transition: 1.2s;
  z-index: 2;
  padding-bottom: 20px;
}

.card .card-body p:hover {
  opacity: 1;
}

.card .card-body p:target {
  opacity: 1;
}

.footer {
  background-color: #352510;
  color: white;
}
.text-white {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.bi {
  margin: 0 5px 5px 5px;
  color: white;
}

section {
  padding-top: 8rem;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .card-body::before {
    top: 75%;
    font-size: 21px;
    left: 15px;
  }
  .card .button {
    width: 200px;
    position: relative;
    bottom: 5px;
    left: 61%;
    transform: translate(-50%, 0);
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
  .card-body::before {
    content: "Klik text ini untuk menampilkan detail";
    top: 80%;
    font-size: 25px;
    left: 22%;
  }
  .card .button {
    width: 200px;
    bottom: 5px;
    left: 80%;
  }

  .card .card-body p {
    padding-bottom: 25px;
    font-size: 13px;
  }

  .display-4 {
    font-size: 25px;
  }

  .lead {
    font-family: "Work Sans", sans-serif;
    font-size: 11px;
  }
}

h2 {
  font-size: 22px;
}

/* Mobilephone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
    .card-body::before {
    top: 75%;
    font-size: 20px;
    left: 20%;
  }
  .card .button {
    bottom: 5px;
    left: 73%;
  }
}
